.App {
  text-align: center;
  font-family: Chivo, sans-serif;
  font-size: 3rem;
  letter-spacing: 0.05rem;
}

h1 {
  font-family: Prata, serif;
  letter-spacing: 0.55rem;
  color: #F7950F;
  margin: 2.5rem auto 3rem auto;
}

h2 {
  font-size: 2rem;
  width: 60%;
  margin: 2rem auto 3rem auto;
  line-height: 4rem;
  color: #87D6D0;
}

header h2 {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  width: 33%;
  color: #79c0bb;
}

h3 {
  font-size: 2rem;
  width: 65%;
  margin: 5rem auto;
  line-height: 3rem;
}

p {
  font-size: 1.5rem;
  width: 70%;
  margin: 2rem auto;
  line-height: 5rem;
}

a {
  text-decoration: none;
  color: #87D6D0;
  padding: 0 2rem;
  font-size: 1.5rem;
}

a:hover {
  font-style: italic;
}

a:active {
  color: #7D9997;
  font-style: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
nav .img-container {
  width: 10%;
  padding-left: 2rem;
}
img {
  max-width: 100%;
}

nav .nav-items {
  display: flex;
  justify-content: space-around;
}

header {
  background: url('./images/microphone.jpg');
  background-size: cover;
  padding: 3rem 0;
}

.home-img {
  background: #1F1C24;
  width: 35%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.home-img img {
  border: 1rem solid#F7950F;
  width: 80%;
  margin: 3rem 6rem;
}

.awesome-points {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
}

.awesome-point {
  width: 33%;
  margin: 2rem 0;
}

.awesome-point h3 {
  color: #F7950F;
}

.event-types {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  align-items: stretch;
}

.event-type {
  width: 45%;
  border: 3px solid #1F1C24;
  border-radius: 5px;
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.event-type h2 {
  width: 100%;
  margin: 1rem;
}

.event-type p {
  width: 90%;
  line-height: 2rem;
  
}

.note {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.15rem;
}

